@import 'vendors/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

.list-item--content {
  display: inline-block;
}

* {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  display: flex;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: max-content;
  margin: 30px auto;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  z-index: 1;
  background: #9356DC;
  background: -moz-linear-gradient(356deg, #9356DC 20%, #ff79da 100%);
  background: -webkit-linear-gradient(356deg, #9356DC 20%, #ff79da 100%);
  background: linear-gradient(356deg, #9356DC 20%, #ff79da 100%);
  box-shadow: 0 3px 6px #c8c8c8;
}
.btn:hover {
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.btn:hover::after {
  -webkit-border-radius: 25px;
  border-radius: 25px;
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #ae80e5;
  background: -moz-linear-gradient(356deg, #ae80e5 20%, #fface8 100%);
  background: -webkit-linear-gradient(356deg, #ae80e5 20%, #fface8 100%);
  background: linear-gradient(356deg, #ae80e5 20%, #fface8 100%);
  box-shadow: 0 3px 6px #959595;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.btn__body {
  font-size: 16px;
  padding: 0 24px;
  color: #fff;
}

.fav-action {
  height: 18px;
}
.fav-action__border {
  z-index: 3;
  position: relative;
}
.fav-action__mask {
  clip-path: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
  height: 16px;
  width: 18px;
  display: block;
  top: -18px;
  left: -1px;
  position: relative;
}
.fav-action__mask::after {
  content: "";
  transform-origin: 50% 100%;
  -moz-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: transform 1s cubic-bezier(0.32, 0, 0.07, 1);
  -moz-transition: transform 1s cubic-bezier(0.32, 0, 0.07, 1);
  -ms-transition: transform 1s cubic-bezier(0.32, 0, 0.07, 1);
  -o-transition: transform 1s cubic-bezier(0.32, 0, 0.07, 1);
  transition: transform 1s cubic-bezier(0.32, 0, 0.07, 1);
  background: #99E2D0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.fav-action:hover .fav-action__mask::after {
  -moz-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.card {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 18px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px #c8c8c8;
}
@media screen and (min-width: 800px) {
  .card {
    width: 45%;
  }
}
.card__figure {
  height: 180PX;
  position: relative;
  overflow: hidden;
}
.card__tag {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 7px 14px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #1b6150;
}
.card__image {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}
.card__actions {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__container:not(:last-child) {
  margin-bottom: 40px;
}
.menu__title {
  margin-bottom: 14px;
}
.menu__title h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
}
.menu__title h2::after {
  content: "";
  display: block;
  width: 13%;
  border-bottom: 2px solid #99E2D0;
}
.menu__inner {
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .menu__inner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.menu-card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 66px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  transform: translate(0, 300%);
  box-shadow: 0 3px 6px #c8c8c8;
}
@media screen and (min-width: 800px) {
  .menu-card {
    width: 49%;
    position: relative;
  }
}
.menu-card--1 {
  animation: fadeIn 1s ease-out 0s 1 forwards;
}
.menu-card--2 {
  animation: fadeIn 1s ease-out 0.4s 1 forwards;
}
.menu-card--3 {
  animation: fadeIn 1s ease-out 0.8s 1 forwards;
}
.menu-card--4 {
  animation: fadeIn 1s ease-out 1.2s 1 forwards;
}
.menu-card--5 {
  animation: fadeIn 1s ease-out 1.6s 1 forwards;
}
.menu-card--6 {
  animation: fadeIn 1s ease-out 2s 1 forwards;
}
.menu-card--7 {
  animation: fadeIn 1s ease-out 2.4s 1 forwards;
}
.menu-card--8 {
  animation: fadeIn 1s ease-out 2.8s 1 forwards;
}
.menu-card--9 {
  animation: fadeIn 1s ease-out 3.2s 1 forwards;
}
.menu-card--10 {
  animation: fadeIn 1s ease-out 3.6s 1 forwards;
}
.menu-card:hover .menu-card__body {
  width: 85%;
  -webkit-transition: width 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -moz-transition: width 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -ms-transition: width 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -o-transition: width 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: width 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.menu-card:hover .menu-card__action {
  width: 15%;
  -webkit-transition: width 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -moz-transition: width 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -ms-transition: width 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -o-transition: width 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: width 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.menu-card:hover .menu-card__action i {
  animation: rotate 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.menu-card__title {
  font-weight: 600;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .menu-card__title {
    white-space: initial;
  }
}
.menu-card__info {
  width: calc(100% - 34px);
  margin-top: 7px;
  font-weight: 300;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .menu-card__info {
    white-space: initial;
  }
}
.menu-card__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex: 1 1 0;
  padding: 10px 10px;
}
.menu-card__header {
  position: relative;
  width: 100%;
}
.menu-card__price {
  position: absolute;
  bottom: 0%;
  right: 7px;
  font-weight: 600;
  font-size: 16px;
}
.menu-card__action {
  width: 0;
  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -ms-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  transition: width 0.5s linear;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: #fff;
}

@keyframes fadeIn {
  0% {
    transform: translate(0, 300%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.main-nav {
  height: 64px;
  z-index: 100;
  position: relative;
  box-shadow: 0 3px 6px #c8c8c8;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  justify-content: space-between;
  list-style: none;
}
@media screen and (min-width: 800px) {
  .main-nav__list {
    width: 900px;
    margin: 0 auto;
  }
}
.main-nav__item {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.main-nav__item--side {
  width: 10%;
}
.main-nav__link {
  display: block;
}

.row {
  margin: 0;
  padding: 20px;
}
.row--prefooter {
  padding: 20px 20px 40px;
}

.hero__figure {
  overflow: hidden;
  height: 65vw;
  min-height: 260px;
  max-height: 500px;
}
.hero__img {
  object-fit: cover;
  object-position: 50% 63%;
  height: 100%;
  width: 100%;
}

.restaurant-container {
  background-color: #f8f8f8;
}
@media screen and (min-width: 800px) {
  .restaurant-container {
    max-width: 900px;
    margin: 0 auto;
  }
}
.restaurant-header {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: inherit;
  margin-top: -40px;
  z-index: 10;
  position: relative;
}
.restaurant-header__content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.restaurant-header__title {
  font-family: Shrikhand, cursive;
}
.restaurant-header__title + i {
  font-size: 18px;
  margin-right: 20px;
}
@media screen and (min-width: 800px) {
  .restaurant-menu {
    overflow: hidden;
  }
}

.main-footer {
  background-color: #353535;
  padding: 24px;
}

@media screen and (min-width: 800px) {
  .footer-nav__list {
    max-width: 900px;
    margin: auto;
    padding: 0 24px;
  }
}
.footer-nav__item {
  margin-bottom: 10px;
}
.footer-nav__item--logo {
  filter: invert(1);
  margin-bottom: 20px;
}
.footer-nav__link {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
