@mixin box-shadow ($color: $light-grey) {
  box-shadow: 0 3px 6px $color;
}
@mixin gradient-bk($color1: $omf-color-01, $color2: $omf-color-02){
  background: $color1;
  background: -moz-linear-gradient(356deg, $color1 20%, $color2 100%);
  background: -webkit-linear-gradient(356deg, $color1 20%, $color2 100%);
  background: linear-gradient(356deg, $color1 20%, $color2 100%);
}


//Numérotation auto selon place
@mixin numerotation($nmbElement) {
  @for $i from 0 to $nmbElement {
      &:nth-child(#{$i + 1}) {
      &::before {
        content: "#{$i + 1}";
      }
    }
  }
};
//Fade-in menu
@mixin childFadeIn($nmbElement) {
  @for $i from 0 to $nmbElement {
    &:nth-child(#{$i+1}) {
      animation: fadeIn 1s ease-out #{$i + 0.5}s 1 forwards;
    }
  }
};


//RESPONSIVE
@mixin media-min($key) {
  @media screen and (min-width: map-get($breakpoints, $key)) {
      &{ @content; }
  }
}