.loaderSpinner {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background: #ffffffea;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  animation: loaderTimming 3s linear 1 forwards;
}
.loaderSpinner__container {
  margin-right: calc(4vw + 50px);
}
.loaderSpinner__container div {
  animation: loaderAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loaderSpinner__container div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #9356DC;
  margin: -4px 0 0 -4px;
}
.loaderSpinner__container div:nth-child(1) {
  animation-delay: -0.036s;
}
.loaderSpinner__container div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loaderSpinner__container div:nth-child(2) {
  animation-delay: -0.072s;
}
.loaderSpinner__container div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loaderSpinner__container div:nth-child(3) {
  animation-delay: -0.108s;
}
.loaderSpinner__container div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loaderSpinner__container div:nth-child(4) {
  animation-delay: -0.144s;
}
.loaderSpinner__container div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loaderSpinner__container div:nth-child(5) {
  animation-delay: -0.18s;
}
.loaderSpinner__container div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loaderSpinner__container div:nth-child(6) {
  animation-delay: -0.216s;
}
.loaderSpinner__container div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loaderSpinner__container div:nth-child(7) {
  animation-delay: -0.252s;
}
.loaderSpinner__container div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loaderSpinner__container div:nth-child(8) {
  animation-delay: -0.288s;
}
.loaderSpinner__container div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes loaderAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loaderTimming {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.homeContainer {
  background-color: #f6f6f6;
}

@media screen and (min-width: 800px) {
  .row {
    max-width: 900px;
    margin: auto;
    background: #fff;
  }
  .row--L-rounded {
    -webkit-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
    padding-top: 30px;
  }
}
.row-landing {
  text-align: center;
  background-color: #f6f6f6;
  max-width: 100%;
}

.list-item {
  position: relative;
  padding: 30px;
  margin-bottom: 24px;
  background: #f8f8f8;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 6px #c8c8c8;
}
.list-item:nth-child(1)::before {
  content: "1";
}
.list-item:nth-child(2)::before {
  content: "2";
}
.list-item:nth-child(3)::before {
  content: "3";
}
.list-item::before {
  display: block;
  position: absolute;
  left: -9px;
  background: #9356DC;
  padding: 3px 7px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: white;
}
.list-item .fas {
  margin-right: 24px;
}
@media screen and (min-width: 800px) {
  .list--M-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .list--L-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
}

.citySearch {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #eaeaea;
}
.citySearch__label i {
  color: #353535;
}
.citySearch__input {
  border: none;
  background: none;
  color: #353535;
  text-align: center;
  font-weight: 600;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

/*# sourceMappingURL=home.css.map */
