.row {
    margin: 0;
    padding: 20px;
    &--prefooter{
        padding: 20px 20px 40px;
    }
}

.hero{
    &__figure {
        overflow: hidden;
        height: 65vw;
        min-height: 260px;
        max-height: 500px;
    }
    &__img {
        object-fit: cover;
        object-position: 50% 63%;
        height: 100%;
        width: 100%;
    }
}

//PAGE restaurant
.restaurant {
    &-container {
        background-color: #f8f8f8;
        @include media-min("tablet") {
            max-width: 900px;
            margin: 0 auto;
        }
    }
    &-header {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background: inherit;
        margin-top: -40px;
        z-index: 10;
        position: relative;
        &__content {
            display: flex;
            align-content: center;
            justify-content: space-between;
            align-items: center;
        }
        &__title {
            font-family: $omf-typo-01;
            &+i{
                font-size: map-get($font-size, "M" );
                margin-right: 20px;
            }
        }
    }
    &-menu{
        @include media-min('tablet'){
            overflow: hidden;
        }
    } 
}