.main-footer {
    background-color: #353535;
    padding: 24px;
}
.footer-nav {
    &__list{
        @include media-min('tablet'){
            max-width: 900px;
            margin: auto;
            padding: 0 24px;
        }
    }
    &__item{
        margin-bottom: 10px;
        &--logo{
            filter: invert(1);
            margin-bottom: 20px;
        }
    }
    &__link{
        color: #fff;
    }

}