.btn{
    display: flex;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: max-content;
    margin: 30px auto;

    @include border-radius(25px);
    z-index: 1;

    @include gradient-bk;
    @include box-shadow;
    &:hover{
        @include border-radius(25px);
        &::after{
            @include border-radius(25px);
            opacity: 1;
        };
    };
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        @include border-radius(25px);
        @include gradient-bk(lighten($omf-color-01, 10%),lighten($omf-color-02, 10%));
        @include box-shadow(darken($light-grey,20%));
        opacity: 0;
        z-index: -1;
        @include transition(opacity,0.5);
    }
    &__body{
        font-size: map-get($font-size, "button");
        padding: 0 24px;
        color: #fff;
    }
};

.fav-action {
    height: 18px;
    clip-path: polygon(14% -17%, 44.44% -1.67%, 70% -11%, 106.67% -12.22%, 100% 35%, 80% 70%, 50% 100%, 14.44% 75.56%, -16.67% 40.56%, -12.22% 4.44%);
    &__border {
        position: relative;
        @include transition(color,0.8,cubic-bezier(.32,0,.07,1));
    }
    &__mask {
        display: block;
        top: -19px;
        right: 1px;
        position: relative;

        @include gradient-bk($omf-color-02,$omf-color-01);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        font-size: 18px;

        transform-origin: 50% 100%;
        @include scale(0,Y);
        @include transition(transform,1,cubic-bezier(.76,0.2,0,1));
    }
    &:hover{
        & .fav-action__border {
            color: $omf-color-01
        }
        & .fav-action__mask {
            @include scale(1,Y);
        }
    }
}