//Card avec image at bloc action
.card {
    width: 100%;
    margin: 0px auto;
    margin-bottom: 18px;
    background-color: #fff;
    @include border-radius(10px);
    overflow: hidden;
    @include box-shadow;
    @include media-min("tablet"){
        width: 45%;
    }
    &__figure {
        height: 180PX;
        position: relative;
        overflow: hidden;
    }
    &__tag{
        position: absolute;
        top: 14px;
        right: 14px;
        padding: 7px 14px;
        @include border-radius(3px);
        background-color: $omf-color-03;
        color: darken($omf-color-03, 50%);
    }
    &__image{
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }
    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 14px;
    }
    &__actions {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

//BLOC Menu
.menu{
    &__container{
        transform: translate(-120%, 0);
        @include childFadeIn(3);
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    &__title{
        margin-bottom: 14px;
        & h2{
            font-weight: 300;
            text-transform: uppercase;
            font-size: map-get($font-size, "M" );
            &::after {
                content: "";
                display: block;
                width: 13%;
                border-bottom: 2px solid $omf-color-03;
            }
        }
    }
    &__inner{
        @include media-min("tablet") {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &-card{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        min-height: 66px;

        background: #fff;
        overflow: hidden;

        margin-bottom: 14px;
        @include border-radius(14px);

        @include box-shadow;
        @include media-min("tablet") {
            width: 49%;
            position: relative;
        }
        &:hover{
            & .menu-card__body {
                width: 85%;
                @include transition(width,0.5);
            }
            & .menu-card__action{
                width: 15%;
                @include transition(width,0.5);
            }
        }
        &__title{
            font-weight: 600;
            font-size: map-get($font-size, "M" );
            text-overflow: ellipsis;
            white-space: nowrap;
            @include media-min("tablet") {
                white-space: initial;
            }
            overflow: hidden;
        }
        &__info{
            width: calc(100% - 34px);
            margin-top: 7px;

            font-weight: 300;
            font-size: map-get($font-size, "XS" );
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            @include media-min("tablet") {
                white-space: initial;
            }
        }
        &__body{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            
            flex : 1 1 0;
            padding: 10px 10px;
        }
        &__header {
            position: relative;
            width: 100%;
        }
        &__price {
            position: absolute;
            bottom: 0%;
            right: 7px;
            font-weight: 600;
            font-size: map-get($font-size, "S" );
        }
        &__action{
            width: 0;
            @include transition(width,0.5);
            overflow: hidden;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            background: $omf-color-03;
            color: #fff;
        }
    }
}
@keyframes fadeIn {
    0% {
        transform: translate(-120%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}